@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}


.container {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	gap: 24px;
}

.nav-item {}

.nav-link {
	text-decoration: none;
	color: #BF7506;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.nav-link.active {
	font-weight: 700;
}

/*  */
.main {}

.welcome {}

.container {}

.welcome-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 70px;
	margin-bottom: 70px;
}

.welcome-img {
	max-height: 240px;
	max-width: 212px;
	width: 100%;
	height: 100%;
}

.welcome-text {
	margin-left: 27px;
	font-weight: 700;
}

.text {}

.text-title {
	font-size: 48px;
	line-height: 125%;
}

.text-subtitle {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	max-width: 510px;
	margin-top: 8px;
	margin-bottom: 24px;
}

.text-subtitle span {
	color: #BF7506;
}

.text-info {
	display: flex;
	gap: 55px;
}

.text-socials {
	display: flex;
	align-items: center;
}

.text-social__link {
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	padding: 8px;
}

.text-social__img {}

.welcome-cv {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	border-bottom: 2px solid #BF7506;
}

.welcome-cv-img {
	padding: 1px 6px;
}

.welcome-cv-span {}

.projects {}

.project-container {}

/*  */
/*  */
.projects {}

.container {}

.projects-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.projects-title {
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #BF7506;
}

.projects-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 72px;
}

.project-card {
	max-width: 400px;
}

.project-img {}

.project-card__title {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #BF7506;
}

.project-tags {
	list-style: none;
	display: flex;
	gap: 4px;
	padding-left: 0;
}

.project-tag {
	align-items: flex-start;
	padding: 5px 8px 4px;
	border: 1px solid #DD9C3C;
	border-radius: 4px;
}

.project-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

.project-btns {
	display: flex;
	align-items: center;
	gap: 25px;
}

.project-btn {
	display: flex;
	align-items: center;
	padding: 7px 8px;
	text-decoration: none;
	gap: 4px;
	border-bottom: 2px solid #DD9C3C;
}

.project-btn p {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

/*  */
/*  */
.developer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {}

.developer-container {}

.developer-photo {
	width: 360px;
	height: 440px;
	flex-shrink: 0;
	object-fit: cover;
	border-radius: 20px;
}

.developer-about {
	margin-left: 55px;
}

.developer-hello {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211B12;
}

.developer-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #BF7506;
	margin-top: 4px;
}

.developer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

.motto {
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #DD9C3C;
}

.developer-sign {
	max-width: 200px;
}

/*  */
/*  */
.skills {
	padding: 20px 0;
}

.container {}

.skills-container {}

.skills-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211B12;
}

.project-tags {}

.project-tag {}