@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


.container {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	gap: 24px;
}

.nav-item {}

.nav-link {
	text-decoration: none;
	color: #BF7506;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.nav-link.active {
	font-weight: 700;
}

/*  */
.main {}

.welcome {}

.container {}

.welcome-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 70px;
	margin-bottom: 70px;
}

.welcome-img {
	max-height: 240px;
	max-width: 212px;
	width: 100%;
	height: 100%;
}

.welcome-text {
	margin-left: 27px;
	font-weight: 700;
}

.text {}

.text-title {
	font-size: 48px;
	line-height: 125%;
}

.text-subtitle {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	max-width: 510px;
	margin-top: 8px;
	margin-bottom: 24px;
}

.text-subtitle span {
	color: #BF7506;
}

.text-info {
	display: flex;
	gap: 55px;
}

.text-socials {
	display: flex;
	align-items: center;
}

.text-social__link {
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	padding: 8px;
}

.text-social__img {}

.welcome-cv {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	border-bottom: 2px solid #BF7506;
}

.welcome-cv-img {
	padding: 1px 6px;
}

.welcome-cv-span {
	color: #211B12;
}

.projects {}

.project-container {}

/*  */
/*  */
.projects {}

.container {}

.projects-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.projects-title {
	font-size: 48px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #BF7506;
}

.projects-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 72px;
}

.project-card {
	max-width: 400px;
}

.project-img {}

.project-card__title {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #BF7506;
}

.project-tags {
	list-style: none;
	display: flex;
	gap: 4px;
	padding-left: 0;
}

.project-tag {
	align-items: flex-start;
	padding: 5px 8px 4px;
	border: 1px solid #DD9C3C;
	border-radius: 4px;
}

.project-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

.project-btns {
	display: flex;
	align-items: center;
	gap: 25px;
}

.project-btn {
	display: flex;
	align-items: center;
	padding: 7px 8px;
	text-decoration: none;
	gap: 4px;
	border-bottom: 2px solid #DD9C3C;
}

.project-btn p {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

/*  */
/*  */
.developer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {}

.developer-container {}

.developer-photo {
	width: 360px;
	height: 440px;
	flex-shrink: 0;
	object-fit: cover;
	border-radius: 20px;
}

.developer-about {
	margin-left: 55px;
}

.developer-hello {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211B12;
}

.developer-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #BF7506;
	margin-top: 4px;
}

.developer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #211B12;
}

.motto {
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #DD9C3C;
}

.developer-sign {
	max-width: 200px;
}

/*  */
/*  */
.skills {
	padding: 20px 0;
}

.container {}

.skills-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.skills-title {
	margin-bottom: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: #211B12;
}

.project-tags {}

.project-tag {}

/*  */
/*  */
.feedback {
	position: relative;
	padding: 80px 0 150px;
}

.feedback-container {
	max-width: 435px;
	margin: auto;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}

.feedback-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 125%;
	letter-spacing: -0.03em;
	color: #211B12;
}

.input-group {
	position: relative;
	padding-top: 9px;
	margin-bottom: 24px;
}

.input-label {
	position: absolute;
	top: 0;
	left: 16px;
	padding: 0 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #83807C;
	background: #fff;
}

.input {
	border: 3px solid #E0DEDC;
	border-radius: 4px;
	height: 56px;
	width: 435px;
}

.textarea {
	min-height: 140px;
}

.button-group {
	display: flex;
	justify-content: flex-end;
}

.feedback-btn {
	padding-bottom: 7px;
	border: none;
	border-bottom: 2px solid #BF7506;
	background-color: #fff;
}
.feedback-hand {
	position: absolute;
	top: 20%;
	right: 0;
	z-index: -1;
	width: 25%;
}
/*  */
/*  */
.footer {}

.footer-container {}

.footer-text {
	margin: 16px 0;
	font-family: 'Helvetica';
	line-height: 150%;
	text-align: center;
	color: #83807C;
}
/*  */
/*  */
@media (max-width: 1024px) {
	.container {
		max-width: 760px;
	}
	.projects-wrapper {
		gap: 40px;
	}
	.project-card {
		max-width: 45%;
	}
	.project-img {
		max-width: 100%;
	}
}
@media (max-width: 790px) {
	.container {
		max-width: 576px;
	}
	.welcome-img {
		max-width: 150px;
	}
	.welcome-img img {
		width: 100%;
	}
	.text-title {
		font-size: 36px;
	}
	.text-subtitle {
		font-size: 18px;
	}
	.welcome-cv {
		width: 100%;
	}
	.welcome-cv-span {
		font-size: 13px;
	}
	.projects-wrapper {
		gap: 25px;
	}
	.project-card {
		max-width: 45%;
		display: flex;
		flex-direction: column;
    justify-content: space-between;
	}
	.project-img {
		height: 217px;;
	}
	.project-tags {
		flex-wrap: wrap;
	}
	.developer-container {
		display: flex;
		flex-direction: column;
	}
	.developer-photo {
		width: 100%;
		max-height: 350px;
		margin-bottom: 25px;
	}
	.developer-about {
		margin-left: 10px;
	}
	.feedback-hand {
		display: none;
	}
}
@media (max-width: 650px) {
	.container {
		max-width: 90%;
	}
	.header-container {
		margin-top: 20px;
		flex-direction: column;
	}
	.welcome-container {
		margin-top: 35px;
		flex-direction: column;
		max-width: 85%;
	}
	.text-info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
	}
	.text-socials {
    max-width: 95%;
    display: flex;
    justify-content: space-between;
	}
	.welcome-cv {
		width: 150px;
		/* max-width: 25%; */
	}
	.projects-container {
		padding-bottom: 50px;
	}
	.projects-wrapper {
		flex-direction: column;
		gap: 0;
	}
	.project-card {
		max-width: 500px;
		width: 100%;
		margin-bottom: 35px;
	}
	.project-img {
		height: 100%;
	}
	.project-text p {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.project-btns {

	}

	.feedback {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.button-group {
		justify-content: center;
	}
}

@media (max-width: 470px) {
	.welcome-container {
    margin-top: 0;
		margin-bottom: 15px;
	}
	.welcome-text {
		text-align: center;
	}
	.projects-container {
		text-align: center;
		padding-bottom: 10px;
	}
	.project-btns {
		justify-content: center;
	}
	.developer-title {
		margin-bottom: 10px;
	}
	.developer-about {
		display: flex;
		flex-direction: column;
    align-items: center;
	}
	.skills {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.skills-container {
		display: flex;
		text-align: center;
	}
	.project-tags {
		margin: 0 -5px;
		justify-content: center;
	}
	.feedback-title {
		text-align: center;
	}
	.input {
		width: 90%;
	}
}

@media (max-width: 435px) {
	.welcome-text {
		margin-left: 0;
	}
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.input-group {
		width: 90%;
		display: flex;
		justify-content: center;
	}
	.input-label {
		left: 30px;
	}
}

@media (max-width: 380px) {
 .nav-list {
	flex-direction: column;
	gap: 5px;
 }
}